
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Cloud-And-Containers.iml
.idea/DevOps.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
*.xml

Software-Engineering-and-DevOps/08 Automated Testing - Exrecise/02web_RESTfulAPI_tests/Books/node_modules/
Software-Engineering-and-DevOps/05-Git-Branching-and-Pull-Requests/playground/.idea/playground.iml
